@import "../../theme.scss";

:host {
  display: block;
  padding: 2rem;
  width: 500px;
  border-radius: 1rem;
  margin: 3rem auto 0;
  background-color: rgba(255, 255, 255, 0.1);
}

mat-form-field {
  width: 66.67%;
  transform: scale(1.5);
}

.login-link {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-box {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.login-box h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.login-box h2 {
  font-size: 1.2em;
  color: #666;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}


.login-link {
  margin-top: 20px;
}

.login-link span {
  margin-right: 10px;
}

mat-grid-list {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.cancel-btn,
.login-btn {
  width: 45%; 
  height: 50px; 
  font-size: 1rem; 
  margin-right: 10px; 
  background-color: #ccc;
}

.login-btn {
  width: 45%; 
}
