<div mat-dialog-content class="dialog-content">
  <h1 class="dialog-title">Modify Connector</h1>
  <form [formGroup]="updateConnectorForm" class="customer-form">

    <mat-form-field class="form-field" [ngStyle]="{'display': 'none'}">
      <mat-label>Id</mat-label>
      <input matInput formControlName="id">
    </mat-form-field>

    <!-- Row 1: Connector Name -->
    <div class="form-row">
      <mat-form-field class="form-field">
        <mat-label>Connector Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>

      <!-- Connector Type -->
      <div class="form-row">
        <mat-form-field class="form-field">
          <mat-label>Connector Type</mat-label>
          <mat-select formControlName="typeId">
            <mat-option *ngFor="let connectorType of connectorTypesOptions" [value]="connectorType.id">
              {{ connectorType.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </div>

    <!-- Row 2: Data -->
    <div class="form-row">
      <mat-form-field class="full-width" style="width: 100%;">
        <mat-label>Data</mat-label>
        <textarea matInput formControlName="data" style="height: 300px;"></textarea>
      </mat-form-field>
    </div>

  </form>
</div>

<div mat-dialog-actions class="dialog-actions">
  <button mat-button class="cancel-button" (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" [disabled]="!updateConnectorForm.valid" (click)="updateConnector()">Update</button>
</div>
