<!--<button mat-button (click)="openAddCustomerDialog()">Add Customer</button>-->

<div class="mat-table-container">

  <mat-card>
    <mat-card-content>
      <mat-form-field appearance="fill" color="accent">
        <mat-label>Search by:</mat-label>
        <mat-select id="myComboBox" [(ngModel)]="selectedOption" (click)="onSelectionChange()">
          <mat-option *ngFor="let option of options" [value]="option">
            {{ option }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      &nbsp;

      <ng-container *ngIf="selectedOption !== 'Created Date' else dateRangeField">
        <mat-form-field appearance="fill" color="accent">
          <mat-label>{{ label }}</mat-label>
          <input matInput [(ngModel)]="searchValue" />
        </mat-form-field>
      </ng-container>

      <ng-template #dateRangeField>
        <mat-form-field appearance="fill" color="accent">
          <mat-label>{{ label }}</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate [(ngModel)]="startDate" placeholder="Start date">
            <input matEndDate [(ngModel)]="endDate" placeholder="End date">
          </mat-date-range-input>
          <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </ng-template>

      &nbsp;

      <button mat-flat-button color="accent" (click)="getCustomers()">
        <span>Search Customers</span>
        <mat-spinner *ngIf="showSpinnerforSearch" diameter="20"></mat-spinner>
      </button>

      &nbsp;

      <button mat-flat-button color="accent" (click)="openAddCustomerDialog()">
        <span>Add Customer</span>
        <mat-spinner *ngIf="showSpinnerforSearch" diameter="20"></mat-spinner>
      </button>
    </mat-card-content>
  </mat-card>

  &nbsp;
  <mat-card>
    <mat-card-content>
      <table mat-table [dataSource]="customersToDisplay">

        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Customer ID</th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Customer Name -->
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef>Customer Name</th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- ERP Customer ID -->
        <ng-container matColumnDef="ERPCustomerID">
          <th mat-header-cell *matHeaderCellDef>ERP Customer ID</th>
          <td mat-cell *matCellDef="let element"> {{element.erpCustomerID}} </td>
        </ng-container>

        <!-- ISACustomerID -->
        <ng-container matColumnDef="ISACustomerID">
          <th mat-header-cell *matHeaderCellDef>ISA Customer ID</th>
          <td mat-cell *matCellDef="let element"> {{element.isaCustomerID}} </td>
        </ng-container>

        <!-- ISA810ReceiverId -->
        <ng-container matColumnDef="ISA810ReceiverId">
          <th mat-header-cell *matHeaderCellDef>ISA 810 Receiver ID</th>
          <td mat-cell *matCellDef="let element"> {{element.isA810ReceiverId}} </td>
        </ng-container>

        <!-- ISA810ReceiverId -->
        <ng-container matColumnDef="ISA856ReceiverId">
          <th mat-header-cell *matHeaderCellDef>ISA 856 Receiver ID</th>
          <td mat-cell *matCellDef="let element"> {{element.isA856ReceiverId}} </td>
        </ng-container>


        <!-- Marketplace -->
        <ng-container matColumnDef="Marketplace">
          <th mat-header-cell *matHeaderCellDef>Market place</th>
          <td mat-cell *matCellDef="let element"> {{element.marketplace}} </td>
        </ng-container>

        <!-- Created Date -->
        <ng-container matColumnDef="CreatedDate">
          <th mat-header-cell *matHeaderCellDef>Create Date</th>
          <td mat-cell *matCellDef="let element"> {{element.createdDate | date:'dd-MMM-YYYY hh:mm a'}} </td>
        </ng-container>

        <!--Edit-->
        <ng-container matColumnDef="Edit">
          <th mat-header-cell *matHeaderCellDef> Actions</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="openEditDialog(element)" aria-label="normal button" color="accent" matTooltip="Edit Customer" matTooltipPosition="above">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns"></tr>

      </table>

    </mat-card-content>
  </mat-card>

</div>

<div *ngIf="showSpinner" class="spinner-overlay">
  <mat-spinner></mat-spinner>
</div>
