<div class="mat-table-container">
  <mat-card>
    <mat-card-content>
      <div>
        <h2>File Upload (850)</h2>
        <input class="file-input" type="file" (change)="onFileSelected($event)" accept=".pdf, .doc, .docx, .txt, .edi">

        <button mat-icon-button color="accent" matTooltip="Clear File" matTooltipPosition="above" (click)="clearFile()">
          <mat-icon style="margin-bottom:-9px;">clear</mat-icon>
        </button>

        <button mat-flat-button color="accent" [disabled]="isButtonDisabled" (click)="uploadFile()">
          Process File (850)
        </button>

        <!--<button *ngIf="showSpinner" mat-flat-button color="accent">
          <mat-spinner *ngIf="showSpinner" diameter="20"></mat-spinner>
        </button>-->

      </div>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="showSpinner" class="spinner-overlay">
  <mat-spinner></mat-spinner>
</div>
