<div class="header">

  <button mat-icon-button color="accent" aria-label="normal button" class="close-button" (click)="closeDialog()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div class="body">
  <div class="mat-table-container">
    <table mat-table [dataSource]="data">
      <!-- Define the columns -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Order ID</th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- type -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
      </ng-container>

      <!-- Created Date -->
      <ng-container matColumnDef="createdDate">
        <th mat-header-cell *matHeaderCellDef>Created Date</th>
        <td mat-cell *matCellDef="let element"> {{element.createdDate | date:'dd-MMM-YYYY'}} </td>
      </ng-container>

      <!-- data -->

      <ng-container matColumnDef="data" [style.display]="showDataColumn ? 'none' : 'none'">
        <th mat-header-cell *matHeaderCellDef [style.display]="showDataColumn ? 'none' : 'none'">data</th>
        <td mat-cell *matCellDef="let element" [style.display]="showDataColumn ? 'none' : 'none'">
          {{element.data}}
        </td>
      </ng-container>


      <!-- FileName -->
      <ng-container matColumnDef="fileName">
        <th mat-header-cell *matHeaderCellDef>File Name</th>
        <td mat-cell *matCellDef="let element"> {{element.fileName}} </td>
      </ng-container>

      <!--Download/ViewFile-->
      <ng-container matColumnDef="DownloadFile">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element">
          <!-- Download Button -->
          <button mat-icon-button color="accent" aria-label="Download button" [disabled]="showSpinner" matTooltip="Download File" matTooltipPosition="above" (click)="downloadFile(element.data, element.fileName)">
            <mat-icon>save_alt</mat-icon>
            <mat-spinner *ngIf="showSpinner" diameter="20"></mat-spinner>
          </button>

          <!-- View Button -->
          <button mat-icon-button color="accent" aria-label="View button" matTooltip="View File" matTooltipPosition="above" (click)="viewFile(element.data, element.fileName)">
            <mat-icon>visibility</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns"></tr>
    </table>
  </div>
</div>
